In [117]:
import pandas as pd 
import numpy as np

In [118]:
dados = pd.read_csv('onlinefraud.csv')

In [119]:
display(dados)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [120]:
dados = dados.rename(columns={
    'step': 'etapa',
    'type': 'tipo',
    'amount': 'quantia',
    'nameOrig': 'nomeOrigem',
    'oldbalanceOrg': 'saldoAntigoOrigem',
    'newbalanceOrig': 'novoSaldoOrigem',
    'nameDest': 'nomeDestino',
    'oldbalanceDest': 'saldoAntigoDestino',
    'newbalanceDest': 'novoSaldoDestino',
    'isFraud': 'éFraude',
    'isFlaggedFraud': 'éFraudeMarcada'
})

In [121]:
display(dados)

,etapa,tipo,quantia,nomeOrigem,saldoAntigoOrigem,novoSaldoOrigem,nomeDestino,saldoAntigoDestino,novoSaldoDestino,éFraude,éFraudeMarcada
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [122]:
dados.isnull().sum()

etapa                 0
tipo                  0
quantia               0
nomeOrigem            0
saldoAntigoOrigem     0
novoSaldoOrigem       0
nomeDestino           0
saldoAntigoDestino    0
novoSaldoDestino      0
éFraude               0
éFraudeMarcada        0
dtype: int64

In [123]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column              Dtype
---  ------              -----
 0   etapa               int64
 1   tipo                object
 2   quantia             float64
 3   nomeOrigem          object
 4   saldoAntigoOrigem   float64
 5   novoSaldoOrigem     float64
 6   nomeDestino         object
 7   saldoAntigoDestino  float64
 8   novoSaldoDestino    float64
 9   éFraude             int64
 10  éFraudeMarcada      int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [124]:
dados.tipo = dados.tipo.map({"CASH_OUT": 1, "PAYMENT": 2, "CASH_IN": 3, "TRANSFER": 4,"DEBIT": 5})

dados.head()

,etapa,tipo,quantia,nomeOrigem,saldoAntigoOrigem,novoSaldoOrigem,nomeDestino,saldoAntigoDestino,novoSaldoDestino,éFraude,éFraudeMarcada
0,1,2,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,2,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,4,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,2,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [125]:
# remove  == nomeOrigem , nomeDestino, éFraudeMarcada
removelist = dados[['nomeOrigem' , 'nomeDestino' , 'éFraude']]
dados = dados.drop(removelist , axis='columns')

In [126]:
dados.head()

,etapa,tipo,quantia,saldoAntigoOrigem,novoSaldoOrigem,saldoAntigoDestino,novoSaldoDestino,éFraudeMarcada
0,1,2,9839.64,170136.0,160296.36,0.0,0.0,0
1,1,2,1864.28,21249.0,19384.72,0.0,0.0,0
2,1,4,181.00,181.0,0.00,0.0,0.0,0
3,1,1,181.00,181.0,0.00,21182.0,0.0,0
4,1,2,11668.14,41554.0,29885.86,0.0,0.0,0

In [127]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   etapa               int64
 1   tipo                int64
 2   quantia             float64
 3   saldoAntigoOrigem   float64
 4   novoSaldoOrigem     float64
 5   saldoAntigoDestino  float64
 6   novoSaldoDestino    float64
 7   éFraudeMarcada      int64
dtypes: float64(5), int64(3)
memory usage: 388.3 MB

In [128]:
X = dados.drop('éFraudeMarcada' , axis='columns')

In [129]:
y = dados['éFraudeMarcada']

In [130]:
from sklearn import tree

In [131]:
clf = tree.DecisionTreeClassifier()

In [132]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [133]:
clf = clf.fit(X_train, y_train)

In [134]:
clf.score(X_train , y_train)

1.0

In [135]:
y_pred = clf.predict(X_test)

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test , y_pred)

array([[2099656,       2],
       [      3,       4]], dtype=int64)

In [136]:
from sklearn import metrics

metrics.accuracy_score(y_test , y_pred)

0.9999976186677398

In [137]:
features = np.array([[4, 9000.60, 9000.60, 0.0, 1.2, 3.4, 5.6]])

In [138]:
res = clf.predict(features)

C:\Users\Vitor\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [139]:
print(res)
# igual a falso

[0]

In [155]:
bdtest = pd.read_csv('teste.csv')

In [156]:
bdtest = bdtest.rename(columns={
    'step': 'etapa',
    'type': 'tipo',
    'amount': 'quantia',
    'nameOrig': 'nomeOrigem',
    'oldbalanceOrg': 'saldoAntigoOrigem',
    'newbalanceOrig': 'novoSaldoOrigem',
    'nameDest': 'nomeDestino',
    'oldbalanceDest': 'saldoAntigoDestino',
    'newbalanceDest': 'novoSaldoDestino',
    'isFraud': 'éFraude',
    'isFlaggedFraud': 'éFraudeMarcada'
})

In [157]:
bdtest.tipo = bdtest.tipo.map({"CASH_OUT": 1, "PAYMENT": 2, "CASH_IN": 3, "TRANSFER": 4,"DEBIT": 5})

bdtest.head()

,etapa,tipo,quantia,nomeOrigem,saldoAntigoOrigem,novoSaldoOrigem,nomeDestino,saldoAntigoDestino,novoSaldoDestino,éFraude,éFraudeMarcada
0,425,4,10000000.00,C689608084,19585040.37,19585040.37,C1392803603,0.00,0.00,1,1
1,425,1,0.00,C832555372,0.00,0.00,C1462759334,76759.90,76759.90,1,0
2,425,4,9585040.37,C452586515,19585040.37,19585040.37,C1109166882,0.00,0.00,1,1
3,425,1,0.00,C69493310,0.00,0.00,C719711728,2921531.34,2921531.34,1,0
4,425,4,460434.46,C2045767963,460434.46,0.00,C1868484572,0.00,0.00,1,0

In [158]:
bdtest = bdtest.drop(removelist , axis='columns')

In [159]:
Xtes = bdtest.drop('éFraudeMarcada' , axis='columns')

In [160]:
bdtest = bdtest['éFraudeMarcada']

In [161]:
y_pred1 = clf.predict(Xtes)

In [162]:
print( y_pred1)

[1 0 1 0 0 0 0 0 1 0 0 0 0 0 1]